/* CSS Document */

body{
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
/*background:url(images/bg6.jpg) center no-repeat;*/
}
a.buttons:link{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
text-decoration:none;
font-weight:bold;
}
a.buttons:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#e4e4e4;
text-decoration:none;
font-weight:bold;
}
a.buttons:visited{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
text-decoration:none;
font-weight:bold;
}
.runningtext{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-decoration:none;
text-align:justify;
}
.boldtext{
font:Arial, Helvetica, sans-serif;
font-size:17px;
color:#056284;
text-decoration:none;
font-weight:bold;
}
.BigBlogboldheadingtext{
font:Arial, Helvetica, sans-serif;
font-size:22px;
color:#056284;
text-decoration:none;
font-weight:bold;
}
.BigForumboldheadingtext{
font:Arial, Helvetica, sans-serif;
font-size:18px;
color:#056284;
text-decoration:none;
font-weight:bold;
}
.boldtext_hr{
color:#056284;
height:5px;
background:#056284;
}
a.morelink:link{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-decoration:none;
}
a.morelink:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-decoration:underline;
}
a.morelink:visited{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-decoration:none;
}
.form{
background-image:url(images/form_49.gif);
background-repeat:no-repeat;
border-style:solid;
border-width:thin;
border-color:#bebaba;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#7a7a7a;
width:235px;
height:20px;
}
.form2{
background-image:url(images/form2_136.gif);
background-repeat:no-repeat;
border:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#7a7a7a;
width:180px;
height:37px;
}
.footertext{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#d1d1d1;
text-decoration:none;
}
a.footerlinks:link{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#d1d1d1;
text-decoration:none;
}
a.footerlinks:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#d1d1d1;
text-decoration:underline;
}
a.footerlinks:visited{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#d1d1d1;
text-decoration:none;
}
/*.blacktext{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
color:#000000;
text-decoration:none;
font-weight:bold;
}*/
.blacktext{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#000000;
text-decoration:none;
font-weight:bold;
text-transform:uppercase;
}
.red_errormessage{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#FF0000;
font-weight:normal;
}
a.bluelinks:link{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#056284;
text-decoration:none;
font-weight:bold;
}
a.bluelinks:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#0ba4dc;
text-decoration:underline;
font-weight:bold;
}
a.bluelinks:visited{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#056284;
text-decoration:none;
font-weight:bold;
}
a.morelinks:link{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#056284;
text-decoration:none;
}
a.morelinks:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#0ba4dc;
text-decoration:underline;
}
a.morelinks:visited{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#056284;
text-decoration:none;
}
.smalltext{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
text-decoration:none;
}
/*.border{
border-left-color:#666666;
border-left-style:solid;
border-left-width:thin;
}
.border2 {
border-bottom-color:#e1e1de;
border-bottom-style:solid;
border-bottom-width:thin;
border-top-color:#e1e1de;
border-top-style:solid;
border-top-width:thin;
background-color:#feffed;
}
.border3 {
border-bottom-color:#e1e1de;
border-bottom-style:solid;
border-bottom-width:thin;
border-top-color:#e1e1de;
border-top-style:solid;
border-top-width:thin;
background-color:#feffed;
border-left-color:#666666;
border-left-style:solid;
border-left-width:thin;
}*/
.blogcategory{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#056284;
text-decoration:none;
font-weight:bold;
}
.blogcategory:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#000000;
text-decoration:none;
font-weight:bold;
}
.blogcategoryactive{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#000000;
text-decoration:none;
font-weight:bold;
}
.blue_normaltext{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#056284;
}
.forumheading{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#F7F7F7;
text-decoration:none;
font-weight:bold;
}
.forumheading:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#F7F7F7;
text-decoration:underline;
font-weight:bold;
}

/* pagination */
.paginator{
	overflow: hidden;
	margin: 10px;
}
.paginator li{

}
.paginator a:link, .paginator a:visited{
	background: url(administrator/allfiles/btn_page.png) 0 0 no-repeat;
	color: #383939;
	display: block;
	float: left;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin: 0 5px 5px 0;
	text-align: center;
	text-decoration: none;
	width: 20px;	
}
.paginator a:hover,
.paginator a.focus{
	background: url(administrator/allfiles/btn_page.png) 0 -20px no-repeat;
	color: #9b2c02;
}
/* pagination */

/* form text area  */
.text_large,
.text_medium,
.text_small{
	border: solid 1px #c8cacf;
	padding: 3px 4px;
}
.text_large{width: 200px}
.text_medium{width: 180px}
.text_small{width: 74px}

.select_large,
.select_medium,
.select_short,
.select_small{
	border: solid 1px #c8cacf;
	padding: 3px 4px;
}
.select_large{width: 216px}
.select_medium{width: 196px}
.select_short{width: 120px}
.select_small{width: 90px}

.textarea_install,
.textarea_medium{
	border: solid 1px #c8cacf;
	padding: 3px 4px;
}
.textarea_medium{height: 80px; width: 500px}
.textarea_install{height: 80px; width: 700px}
.textarea_focus{background-color: #F3F3F3}
/* form text area  */

.sideheadingboldText{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#056284;
font-weight:bold;
}


.redtext{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#d60101;
text-decoration:none;
text-align:justify;
}
a.redlinks:link{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#d60101;
text-decoration:none;
font-weight:bold;
}
a.redlinks:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#d60101;
text-decoration:underline;
font-weight:bold;
}
a.redlinks:visited{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#d60101;
text-decoration:none;
font-weight:bold;
}